{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{# defining the macro #}
{% macro rendli(menuItem) %}
  <li><a href="{{ menuItem.url }}">{{ menuItem.title }}</a></li>
{% endmacro %}

<a href="#" data-activates="{{ menu_name }}" class="button-collapse"><i class="material-icons">menu</i></a>
<ul id="nav-mobile" class="left hide-on-med-and-down">
  {% for item in items %}
    {% import _self as menu %}
    {{ menu.rendli(item) }}
  {% endfor %}
</ul>
<ul class="side-nav" id="{{ menu_name }}">
  {% for item in items %}
    {% import _self as menu %}
    {{ menu.rendli(item) }}
  {% endfor %}
</ul>