<style>
#view-source {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}
</style>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">
        <img class="site-logo-image" src="{{ logo }}">
      </span>
    </div>
  </div>
<div class="android-drawer mdl-layout__drawer">
    <span class="mdl-layout-title">
      <img class="site-logo-image" src="{{ logo }}">
    </span>
    {{ page.primary }}
</div>
<div class="android-content mdl-layout__content">
    {{ page.content }}
</div>
    <footer class="mdl-mega-footer">
        <div class="mdl-mega-footer--middle-section">
            {{ page.footer_top }}
        </div>
        <div class="mdl-mega-footer--bottom-section">
        </div>
     </footer>
</div>